In [946]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_rows', 500)

In [839]:
df1=pd.read_csv(r'C:\Users\User\Desktop\TOBB ETU Mokhina\8th SEMESTER\YAP 101\Wine Quality Training.csv')
df2=pd.read_csv(r'C:\Users\User\Desktop\TOBB ETU Mokhina\8th SEMESTER\YAP 101\RedWineTraining.csv')

In [840]:
df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6

In [841]:
df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [842]:
df1.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3913,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
3914,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
3915,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
3916,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
3917,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [843]:
df2.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1274,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1275,6.2,0.60,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1276,5.9,0.55,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1277,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1278,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [844]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3918 entries, 0 to 3917
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3918 non-null   float64
 1   volatile acidity      3918 non-null   float64
 2   citric acid           3918 non-null   float64
 3   residual sugar        3918 non-null   float64
 4   chlorides             3918 non-null   float64
 5   free sulfur dioxide   3918 non-null   float64
 6   total sulfur dioxide  3918 non-null   float64
 7   density               3918 non-null   float64
 8   pH                    3918 non-null   float64
 9   sulphates             3918 non-null   float64
 10  alcohol               3918 non-null   float64
 11  quality               3918 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 367.4 KB

In [845]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1279 non-null   float64
 1   volatile acidity      1279 non-null   float64
 2   citric acid           1279 non-null   float64
 3   residual sugar        1279 non-null   float64
 4   chlorides             1279 non-null   float64
 5   free sulfur dioxide   1279 non-null   float64
 6   total sulfur dioxide  1279 non-null   float64
 7   density               1279 non-null   float64
 8   pH                    1279 non-null   float64
 9   sulphates             1279 non-null   float64
 10  alcohol               1279 non-null   float64
 11  quality               1279 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 120.0 KB

In [846]:
df1.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000,3918.000000
mean,6.849834,0.278084,0.334903,6.411639,0.045906,35.540327,138.322231,0.994018,3.187560,0.489135,10.523674,5.879786
std,0.847878,0.100604,0.122489,5.092618,0.022341,17.235522,42.347864,0.003020,0.150232,0.113841,1.229788,0.877829
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987130,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,24.000000,108.000000,0.991700,3.080000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993700,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.975000,0.050000,46.000000,167.000000,0.996158,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.810000,1.010000,14.200000,9.000000

In [847]:
df2.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000
mean,8.327052,0.527791,0.271423,2.507897,0.087913,16.004691,47.122752,0.996744,3.308577,0.660539,10.403922,5.629398
std,1.733546,0.179465,0.193675,1.340013,0.047775,10.446824,33.407139,0.001870,0.154104,0.174517,1.076352,0.797264
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.370000,8.400000,3.000000
25%,7.200000,0.390000,0.095000,1.900000,0.071000,7.000000,22.000000,0.995655,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.080000,14.000000,38.000000,0.996760,3.300000,0.620000,10.100000,6.000000
75%,9.200000,0.640000,0.430000,2.600000,0.091000,21.500000,63.000000,0.997800,3.400000,0.740000,11.000000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [848]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3918 entries, 0 to 3917
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3918 non-null   float64
 1   volatile acidity      3918 non-null   float64
 2   citric acid           3918 non-null   float64
 3   residual sugar        3918 non-null   float64
 4   chlorides             3918 non-null   float64
 5   free sulfur dioxide   3918 non-null   float64
 6   total sulfur dioxide  3918 non-null   float64
 7   density               3918 non-null   float64
 8   pH                    3918 non-null   float64
 9   sulphates             3918 non-null   float64
 10  alcohol               3918 non-null   float64
 11  quality               3918 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 367.4 KB

In [849]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1279 non-null   float64
 1   volatile acidity      1279 non-null   float64
 2   citric acid           1279 non-null   float64
 3   residual sugar        1279 non-null   float64
 4   chlorides             1279 non-null   float64
 5   free sulfur dioxide   1279 non-null   float64
 6   total sulfur dioxide  1279 non-null   float64
 7   density               1279 non-null   float64
 8   pH                    1279 non-null   float64
 9   sulphates             1279 non-null   float64
 10  alcohol               1279 non-null   float64
 11  quality               1279 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 120.0 KB

In [850]:
sum(df1.duplicated())

618

In [851]:
df1=df1.drop_duplicates()

In [852]:
sum(df1.duplicated())

0

In [853]:
sum(df2.duplicated())

166

In [854]:
df2=df2.drop_duplicates()

In [855]:
sum(df2.duplicated())

0

In [856]:
df1.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [857]:
df2.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [858]:
df1.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [859]:
df2.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [860]:
df1.apply(lambda x: len(x.unique()))

fixed acidity            68
volatile acidity        116
citric acid              87
residual sugar          297
chlorides               144
free sulfur dioxide     126
total sulfur dioxide    243
density                 837
pH                      101
sulphates                77
alcohol                  99
quality                   7
dtype: int64

In [861]:
df2.apply(lambda x: len(x.unique()))

fixed acidity            95
volatile acidity        132
citric acid              79
residual sugar           82
chlorides               144
free sulfur dioxide      59
total sulfur dioxide    141
density                 397
pH                       87
sulphates                92
alcohol                  62
quality                   6
dtype: int64

In [862]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3300 entries, 0 to 3917
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3300 non-null   float64
 1   volatile acidity      3300 non-null   float64
 2   citric acid           3300 non-null   float64
 3   residual sugar        3300 non-null   float64
 4   chlorides             3300 non-null   float64
 5   free sulfur dioxide   3300 non-null   float64
 6   total sulfur dioxide  3300 non-null   float64
 7   density               3300 non-null   float64
 8   pH                    3300 non-null   float64
 9   sulphates             3300 non-null   float64
 10  alcohol               3300 non-null   float64
 11  quality               3300 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 335.2 KB

In [863]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1113 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1113 non-null   float64
 1   volatile acidity      1113 non-null   float64
 2   citric acid           1113 non-null   float64
 3   residual sugar        1113 non-null   float64
 4   chlorides             1113 non-null   float64
 5   free sulfur dioxide   1113 non-null   float64
 6   total sulfur dioxide  1113 non-null   float64
 7   density               1113 non-null   float64
 8   pH                    1113 non-null   float64
 9   sulphates             1113 non-null   float64
 10  alcohol               1113 non-null   float64
 11  quality               1113 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 113.0 KB

In [864]:
df1['wine type']=0 
df2['wine type']=1

In [865]:
df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,0
5,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,0

In [866]:
df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,1

In [867]:
frames = [df1, df2]
df3 = pd.concat(frames)

In [868]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4413 entries, 0 to 1278
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4413 non-null   float64
 1   volatile acidity      4413 non-null   float64
 2   citric acid           4413 non-null   float64
 3   residual sugar        4413 non-null   float64
 4   chlorides             4413 non-null   float64
 5   free sulfur dioxide   4413 non-null   float64
 6   total sulfur dioxide  4413 non-null   float64
 7   density               4413 non-null   float64
 8   pH                    4413 non-null   float64
 9   sulphates             4413 non-null   float64
 10  alcohol               4413 non-null   float64
 11  quality               4413 non-null   int64
 12  wine type             4413 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 482.7 KB

In [869]:
df3.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
count,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000,4413.000000
mean,7.209098,0.342910,0.319236,5.111885,0.056649,30.373555,114.571947,0.994535,3.221919,0.532814,10.547488,5.801949,0.252209
std,1.317390,0.167028,0.147107,4.566787,0.037081,18.000815,56.472666,0.003007,0.159848,0.151530,1.191242,0.870451,0.434330
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987130,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.240000,1.800000,0.038000,17.000000,75.000000,0.992150,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.300000,0.310000,2.700000,0.047000,28.000000,117.000000,0.994620,3.210000,0.510000,10.400000,6.000000,0.000000
75%,7.700000,0.410000,0.400000,7.700000,0.066000,41.000000,153.000000,0.996800,3.320000,0.600000,11.400000,6.000000,1.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [870]:
df3.round(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
0,7.0,0.27,0.36,20.7,0.04,45.0,170.0,1.00,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.05,14.0,132.0,0.99,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,1.00,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.06,47.0,186.0,1.00,3.19,0.40,9.9,6,0
5,6.2,0.32,0.16,7.0,0.04,30.0,136.0,0.99,3.18,0.47,9.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1273,5.4,0.74,0.09,1.7,0.09,16.0,26.0,0.99,3.67,0.56,11.6,6,1
1274,6.3,0.51,0.13,2.3,0.08,29.0,40.0,1.00,3.42,0.75,11.0,6,1
1275,6.2,0.60,0.08,2.0,0.09,32.0,44.0,0.99,3.45,0.58,10.5,5,1
1276,5.9,0.55,0.10,2.2,0.06,39.0,51.0,1.00,3.52,0.76,11.2,6,1
1278,6.0,0.31,0.47,3.6,0.07,18.0,42.0,1.00,3.39,0.66,11.0,6,1

In [871]:
df3.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,0
5,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,0

In [872]:
correlation = df3. corr()  
correlation.round(2)
correlation.style.background_gradient(cmap = 'BrBG')

In [873]:
df3.to_csv('Wine.csv')

In [874]:
from sklearn.linear_model import LogisticRegression  
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier  
from sklearn import svm  
from sklearn import metrics 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn import datasets, ensemble
from sklearn.inspection import permutation_importance
import math

In [875]:
train, test = train_test_split(df3, test_size = 0.3)
print(train.shape)
print(test.shape)

(3089, 13)
(1324, 13)

In [908]:
train_x = train[['alcohol','density', 'volatile acidity']]
train_y=train.quality
test_x= test[['alcohol','density', 'volatile acidity']] 
test_y =test.quality

In [909]:
train_x.head()

      alcohol  density  volatile acidity
1314     10.2  0.99710              0.30
1732     11.6  0.99800              0.22
747      10.1  0.99824              0.41
536      10.1  0.99720              0.67
1093     11.6  0.99476              0.58

In [910]:
test_x.head()

      alcohol  density  volatile acidity
2264     10.4  0.99581              0.26
48       10.2  0.99550              0.51
2517      9.5  0.99684              0.17
2148     10.8  0.99216              0.18
3171     10.7  0.99280              0.22

In [911]:
train_y.head()

1314    7
1732    5
747     6
536     5
1093    6
Name: quality, dtype: int64

In [934]:
model = LogisticRegression() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7758632264926371

C:\Users\User\Desktop\TOBB ETU Mokhina\8th SEMESTER\YAP 101\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [935]:
model = KNeighborsClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7606246439227421

C:\Users\User\Desktop\TOBB ETU Mokhina\8th SEMESTER\YAP 101\Anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [936]:
model = DecisionTreeClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.061452705760749224

In [937]:
model = LinearRegression() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.6967350826407049

In [938]:
model = RandomForestClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.061452705760749224

In [939]:
model = GaussianNB() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.795569301566599

In [940]:
model = Perceptron() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

1.9541573933091403

In [941]:
model = SGDClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7744016304194966

In [942]:
model = MLPClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7758632264926371

In [943]:
model = svm.SVC() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7917627280458829

In [944]:
model = LinearSVC() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.7864986080235367

C:\Users\User\Desktop\TOBB ETU Mokhina\8th SEMESTER\YAP 101\Anaconda\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [945]:
model = GradientBoostingClassifier() 
model.fit(test_x,test_y) 
pred_y=model.predict(test_x) 
MSE = mean_squared_error(test_y, pred_y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.5842856562475899